<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>

<!--css and javascript header-->
<div th:replace="common/common_css"></div>
<div th:replace="common/common_js"></div>

<!--head-->
<div th:replace="common/common_head"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';
    let pageIndex = 0; //current page index
    let pageCount = 0;
    let pageSize = 10; //the total count which showed in every page
    let totalCount = 0; //total count of the content

    $(function () {
        totalCount = $("#hiddenCount").val();
        pageCount = $("#hiddenCount").val();
        $("#totalInfo").append("Total count: " + totalCount);

        if (pageCount < pageSize) {
            $("#divPager").hide();
        }
        else if (pageCount >= pageSize) {
            $("#Pagination").pagination(pageCount, {
                callback: PageCallback,  //PageCallback() 为翻页调用次函数。
                items_per_page: pageSize,
                num_edge_entries: 2,       //两侧首尾分页条目数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex   //当前页索引
            });
            $("#divPager").show();
        }

        window.InitTable = function (pageIndex, init) {
            $("#hiddenPageIndex").val(pageIndex + 1);

            //request data
            let status = $("#status").val();
            let bInit = "N";
            if (pageIndex == 0) {
                bInit = "Y";
            }

            $.ajax({
                       type: "post",
                       dataType: "text",
                       url: contextPath + "/test/showConfigPagination.do",
                       data: {
                           "pageIndex": pageIndex + 1,
                           "pageSize": pageSize,
                           "bInit": (init == null) ? bInit : init,
                           "status": status
                       },
                       success: function (data) {
                           //table刷新之前之前先记录隐藏域变量
                           var PageCountTemp = $("#hiddenCount").val();
                           $("#divHtml").empty();
                           $("#divHtml").append(data);
                           totalCount = $("#hiddenCount").val();
                           //table刷新之后 获取新的隐藏域变量
                           PageCount = $("#hiddenCount").val();
                           //如果为空 说明是翻页导致的
                           if (PageCount == null || PageCount == "") {
                               //总条数等于刷新之前的值
                               PageCount = PageCountTemp;
                               //再次对新的隐藏域赋值
                               $("#hiddenCount").val(PageCount);
                           }

                           PageCount = $("#hiddenCount").val();


                           if (PageCount < pageSize) {
                               $("#divPager").hide();
                           }
                           else {
                               $("#totalInfo").empty();
                               $("#totalInfo").append(" 共" + PageCount + "条数据");
                               if (PageCount >= pageSize) {
                                   $("#Pagination").pagination(PageCount, {
                                       callback: PageCallback,  //PageCallback() 为翻页调用次函数。
                                       items_per_page: pageSize,
                                       num_edge_entries: 2,       //两侧首尾分页条目数
                                       num_display_entries: 6,    //连续分页主体部分分页条目数
                                       current_page: pageIndex   //当前页索引
                                   });
                                   $("#divPager").show();
                               }
                           }
                       }
                   });
        }

        $("#btnQuery").click(function () {
            $("#hiddenCount").val("");
            InitTable(0);
        });

        $("#btnReset").click(function () {
            $("#status").val("");
        })
    });

    function PageCallback(index, jq) {
        $("#hiddenPageIndex").val(index + 1);
        InitTable(index);
    }

    /*]]>*/
</script>

<!--body-->
<div class="container">
    <div class="container_box pt10 pb20">
        <div class="input_box pb10 pub_nlineW">
            <div class="pub_nline mr20"><span>status</span>
                <div class="pub_nline_text">
                    <select class="pub_sel" name="status" id="status">
                        <option value="">Please choose</option>
                        <option value="0" selected>normal</option>
                        <option value="1">forbidden</option>
                    </select>
                </div>
            </div>
            <div class="pub_anniu">
                <input type="button" class="btn btn-success mr10" id="btnQuery" value="Search">
                <input type="button" class="btn mr10" id="btnReset" value="Reset">
            </div>
        </div>

        <!--main content-->
        <input type="hidden" id="hiddenPageIndex" value="1">
        <div class="" id="divHtml">
            <input type="hidden" id="hiddenCount" th:value="${totalCount}">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                   class="pub_tab_simple pub_tab_hov pub_check">
                <tbody>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">名称</th>
                    <th scope="col">状态</th>
                    <th scope="col">排序</th>
                    <th scope="col">添加人</th>
                    <th scope="col">添加时间</th>
                </tr>
                <tr th:each="item:${configList}">
                    <td th:text="${item.id}"></td>
                    <td class="font_inline" th:text="${item.name}"></td>
                    <td th:text="${item.status} == 0 ? '正常':'禁用'"></td>
                    <td th:text="${item.listorder}"></td>
                    <td class="font_inline" th:text="${item.addUser}"></td>
                    <td class="font_inline" th:text="${item.addTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--paging model-->
        <div class="column_page clearfix" id="divPager" style="float:right">
            <div>
                <div style="color:#666;display: inline" id="totalInfo"></div>
                <div id="Pagination" class="pagination" style="display: inline"></div>
            </div>
        </div>
    </div>
</div>




