<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>

<div th:replace="common/common_css"></div>
<div th:replace="common/common_js"></div>
<script th:src="@{/js/jquery.json.min.js}"></script>

<div class="container-fluid">
    <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="form-group">
                <label for="send">RabbitMQ Sender</label>
                <textarea class="form-control" id="send" rows="3"
                          style="margin-top: 0px; margin-bottom: 0px; height: 114px;"></textarea>
                <button class="btn btn-primary btn-lg btn-block" onclick="sendMsg()">Send</button>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Received Message</div>
                <div class="card-body">
                    <p class="card-text msg"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

    let socket = new WebSocket('ws://' + window.location.host + contextPath + '/mq-websocket-endpoint');
    // Add an event listener for when a connection is open
    socket.onopen = function () {
        // Add an event listener for when a message is received from the server
        socket.onmessage = function (message) {
            let msg = $.evalJSON(message.data);
            console.log(msg);
            $(".msg").text(msg);
        };
    };

    function sendMsg() {
        // Send a message to the server
        socket.send($("#send").val());

        // $.ajax({
        //            type: "post",
        //            dataType: "json",
        //            url: contextPath + "/test/sendMQMessage",
        //            data: {
        //                "msg": $("#send").val(),
        //            },
        //            success: function (data) {
        //                var result = data.stat;
        //                if (result === "OK") {
        //                    layer.msg("send successful!");
        //                }
        //                else {
        //                    layer.alert("send failed!");
        //                }
        //            },
        //            error: function () {
        //                layer.alert("error send message '" + $("#send").text() + "', Please try again later.");
        //            }
        //        });
    }

    /*]]>*/
</script>