<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V13</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/register/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/register/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/register/css/main.css}">
    <link rel="stylesheet" th:href="@{/js/layer/theme/default/layer.css}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url(../alex/register/images/bg-02.jpg);"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Real Name</span>
                    <input class="input100" type="text" name="realName" id="realName"
                           placeholder="Please enter your real name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input"
                     data-validate="Valid email is required, for example: @abc.xyz">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" name="email" id="email"
                           pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
                           placeholder="Please enter your Email address">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="userName" id="userName"
                           placeholder="Please enter your user name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" id="password"
                           placeholder="Please input the password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                    <span class="label-input100">Repeat Password</span>
                    <input class="input100" type="password" name="repeatPassword" id="repeatPassword"
                           placeholder="Please ensure your password" onblur="verifyPassword()">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" id="btnSignUp" onclick="signUpUser()">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script th:src="@{/register/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/register/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/register/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/register/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/register/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/register/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/register/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/register/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/register/js/main.js}"></script>
<script th:src="@{/js/jquery.md5.js}"></script>
<script th:src="@{/js/layer/layer.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

    //verify the password
    function verifyPassword() {
        let password = $("#password").val();
        let repeatPassword = $("#repeatPassword").val();
        if (password !== repeatPassword) {
            layer.alert("Inconsistent password before and after,Please input again");
            return false;
        }
    }

    function signUpUser() {
        let userName = $("#userName").val();
        let realName = $("#realName").val();
        let email = $("#email").val();
        let password = $("#password").val();

        //register user
        $.ajax({
                   type: "post",
                   dataType: "json",
                   url: contextPath + "/registerUser",
                   data: {
                       "userName": userName,
                       "realName": realName,
                       "email": email,
                       "password": $.md5(password)
                   },
                   success: function (data) {
                       console.log(data.status);
                       if (data.status == 1) {
                           layer.msg("Register successful!");
                           window.location.href = window.location.host + contextPath + "/login";
                       }
                       else {
                           layer.alert("Register failed!");
                       }
                   },
                   error: function () {
                       layer.closeAll();
                       layer.alert("Some errors accoured suddenly, please try again later!");
                   }
               });
    }

    /*]]>*/
</script>

</body>
</html>